footer{
    background-color: rgb(43, 41, 41);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    @include sizes(100%, auto);
    align-items: center;
    z-index: 998;
    h3{
        a{
            text-decoration: none;
            color: $color-fonts;
            font-size: medium;
        }
    }
}
