footer{
    background-color: rgb(43, 41, 41);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/5;
    width: 100%;
    align-items: center;
    z-index: 999;
    h3{
        a{
            text-decoration: none;
            color: $color-fonts;
            font-size: medium;
        }
    }
}
