main{
    background-color: rgb(20, 20, 20);
    width: 100%;
    z-index:999;
    p{
        font-family: $font-page;
        text-align: center;
        font-size: 1.3rem;
        padding:40px;
        color: $color-fonts;
        margin-bottom: 0;
    }
    h3{
        color: $color-fonts;
        font-size: 2rem;
        padding: 30px;
    }
    form{
        color: $color-fonts;
        position: relative;
        background-color: gray;
        display: inline-block;
        border:solid 5px $color-fonts;
        padding: 40px;
        font-family:$font-titulos;
        font-size: 1rem;
        z-index:998;
    }
    .jumbotron{
        font-size: xx-large;
        font-family: $font-titulos;
        color: rgb(246, 246, 46);
        margin: auto;
        background-size: cover;
        opacity: 60%;
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
        img{
            width: 100%;
            padding-top: 30px;
            border-radius: 0%;
        }
        p {
            font-family: $font-titulos; 
            font-size: 50px;
            color: rgb(250, 250, 62);
            text-shadow: black 0.1em 0.1em 0.2em;
        }
    }
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

.notFound{
    height: 100%;
    margin:auto;
    margin-bottom: 0px;
    display:block;
    padding: 0px;
    
}

