main{
    background-color: black !important;
    width: 100%;
    p{
        font-family: $font-page;
        text-align: center;
        font-size: 1.3rem;
        padding:40px;
        color: $color-fonts;
        z-index: 998;
        margin-bottom: 0;
    }
    h3{
        color: $color-fonts;
        font-size: 2rem;
        padding: 30px;
        z-index: 997;
    }
    form{
        color: $color-fonts;
        background-color: gray;
        display: inline-block;
        border:solid 5px $color-fonts;
        padding: 40px;
        font-family:$font-titulos;
        font-size: 1rem;
        z-index: 996;
    }
    img{
        z-index: 994;
    }
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    z-index: 995;
}