main{
    background: rgb(20, 20, 20) !important;
    width: 100%;
    z-index: 800;
    p{
        font-family: $font-page;
        text-align: center;
        font-size: 1.3rem;
        padding:40px;
        color: $color-fonts;
        z-index: 998;
        margin-bottom: 0;
    }
    h3{
        color: $color-fonts;
        font-size: 2rem;
        padding: 30px;
        z-index: 997;
    }
    form{
        color: $color-fonts;
        background-color: gray;
        display: inline-block;
        border:solid 5px $color-fonts;
        padding: 40px;
        font-family:$font-titulos;
        font-size: 1rem;
        z-index: 996;
    }
    img{
        z-index: 994;
    }
    video{
        z-index: 990;
    }
    .jumbotron{
        font-size: xx-large;
        font-family: $font-titulos;
        color: rgb(246, 246, 46);
        margin: auto;
        background-size: cover;
        z-index: 998;
        opacity: 60%;
        text-shadow: black 0.1em 0.1em 0.2em;
        img{
            width: 100%;
            padding: 30px;
            border-radius: 30%;
        }
        p {
            font-family: $font-titulos; 
            font-size: xx-large;
            color: rgb(250, 250, 62);
            text-shadow: black 0.1em 0.1em 0.2em;
        }
    }
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    z-index: 995;
}