h3{
    font-family:$font-titulos;
    animation:backInRight;
    animation-duration: 2s; 
    
}
h2{
    font-family: $font-page;
    text-align: center;
    color: $color-fonts ;
    padding: 15px;
}