$color-fonts:beige;
$font-titulos:'Kanit', sans-serif;
$font-page:'Source Serif Pro', serif;
$grad-navbar: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 0%, rgba(208,181,82,1) 100%);