@import "_mixin.scss";
@import "_backgrounds.scss";
@import "_titulos.scss";
@import "_header.scss";
@import "_navbar.scss";
@import "_main.scss";
@import "_footer.scss";
@import "_productos.scss";
@import "_carousel.scss";




*{ /* selector universal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr auto 100px;
    
}
.container-fluid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width:240px){

    .header__centrar {
        @include sizes(200px,200px);
    }

    footer{
        @include display-flex(flex,column);
        justify-content:space-around;
    
    }
    .navbar ul{
        @include display-flex(flex,column);
    }

}


@media (min-width:480px){

    .header__centrar {
        @include sizes(200px,200px);
    }
    .contacto{
        @include display-flex(flex,column);
        align-items: center;

    }
    .navbar ul{
        @include display-flex(flex,column);
    }
    footer{
        @include display-flex(flex,column);
        justify-content:space-around;
    
    }

}

@media (min-width:768px){

    .header__centrar {
        @include sizes(250px,250px);
       
    }
    .contacto{
        @include display-flex(flex,column);
        align-items: center;

    }

    footer{
        @include display-flex(flex,row);
        justify-content:space-around;
      
    }
}

@media (min-width:1300px) {

    .header__centrar {
        @include sizes(250px,250px);
    }

    .contacto{
        @include display-flex(flex,column);
        align-items: center;

    }

    footer{
        @include display-flex(flex,row);
        justify-content:space-around;
    
    }

}