*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr auto 100px;
}

header{
    grid-row: 1/2;
    grid-column: 1/5;
    background: rgb(14, 12, 12);
    background-image: url(./media/stressed_linen.png);
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 999;
}
header img{
    margin-bottom: -4px;

}
.header__container{
    display: flex;
    flex-direction: row;

}
.centrar{
    margin:auto;
    margin-bottom: 0px;
    display:block;
    padding: 0px;
}
h3{
    font-family:'Kanit', sans-serif;
    
}
h2{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: beige ;
    padding: 15px;
}
nav{
    bottom: 70px;
    left: 500px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 0%, rgba(208,181,82,1) 100%);
    
}

nav ul li{
    font-family:'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    margin: 3px;
}

nav ul li a{
    text-decoration: none;
    color: beige;
    opacity: .5;
}

nav ul li a:hover{
    color:rgb(242, 239, 226);
    opacity: 100%;
    background-color: rgb(43, 43, 13);
    border-style:solid;
    border-radius: 10%;
}

main{
    background-image: url(./media/stressed_linen.png);
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
}
main p{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 1.3rem;
    padding:40px;
    color: beige;
}
main h3{
    color: beige;
    font-size: 2rem;
    padding: 30px;
}
main form{
    color: beige;
    background-color: gray;
    display: inline-block;
    border:solid 5px beige;
    padding: 40px;
    font-family:'Kanit', sans-serif;
    font-size: 1rem;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }
footer{
    background-color: rgb(43, 41, 41);
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/5;
    width: 100%;
    align-items: center;
}
footer h3 a{
    text-decoration: none;
    color: beige;
    font-size: x-large;
}
.productos{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr ;
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
   
}
.productos div{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
}
.productos textarea{
    background-color: rgb(29, 54, 29);
    color: beige;
    border: solid rgb(15, 15, 15);
    border-radius: 5% ;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    
}
.productos img{
    opacity: .5;
    border-color: beige;
    border-style: solid;
    border-radius:5%;
}
.productos img:hover{
    opacity: 1;
    transform: translate(3px, -3px) 
}
#tabla table{
    color: beige;
    position: relative;
    margin:0 auto;
}

.delivery img{
    margin:0 auto;
    padding: 40px;
}
.contacto{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#nosotros img {
    width: 1000px;
    height: 1000px;
    padding: 2rem;
    margin: auto;
    display: block;
}
.container{
    background-image: url(./media/stressed_linen.png);;
}

@media (max-width:480px){

    body {
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:auto;
        
    }
    header{
        grid-row: 1/1;
        grid-column: 1/1;
    }

    main{
        grid-row: 2/3;
        grid-column: 1/1;
        
    }
    .productos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
     }
    footer{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    
    }

}

@media (max-width:768px){


    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr auto 100px;

    }

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    main{
        grid-row: 2/3;
        grid-column: 1/1;

    }

    #nosotros img {
        width: 700px;
        height: 700px;
        padding: 2rem;
        margin: auto;
        display: block;
    }
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    } 

    
}
@media (max-width:1300px) {

    body{
        
    }
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr auto 100px;

    }

    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    } 
    #nosotros img {
        width: 700px;
        height: 700px;
        padding: 2rem;
        margin: auto;
        display: block;
    }
    
}