*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(14, 12, 12);
    background-image: url(./media/stressed_linen.png);
    
}
header img{
    margin-bottom: -4px;

}
.centrar{
    margin:auto;
    margin-bottom: 0px;
    display:block;
    padding: 0px;
}
h3{
    font-family:'Kanit', sans-serif;
    
}
h2{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: beige ;
    padding: 15px;
}
nav{
    bottom: 70px;
    left: 500px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 0%, rgba(208,181,82,1) 100%);
    
}

nav ul li{
    font-family:'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 15px;
    margin: 3px;
}

nav ul li a{
    text-decoration: none;
    color: beige;
    opacity: .5;
}

nav ul li a:hover{
    color:rgb(242, 239, 226);
    opacity: 100%;
    background-color: rgb(43, 43, 13);
    border-style:solid;
    border-radius: 10%;
}
main{
    background-image: url(./media/stressed_linen.png);
    position:relative;
}
main p{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 1.3rem;
    padding:40px;
    color: beige;
}
main h3{
    color: beige;
    font-size: 2rem;
    padding: 30px;
}
main form{
    color: beige;
    background-color: gray;
    display: inline-block;
    border:solid 5px beige;
    padding: 40px;
    font-family:'Kanit', sans-serif;
    font-size: 1rem;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }
footer{
    background-color: rgb(43, 41, 41);
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
}
footer h3 a{
    text-decoration: none;
    color: beige;
    font-size: x-large;
}
#productos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    flex-wrap:wrap;
}
#productos img{
    opacity: .5;
    border-color: beige;
    border-style: solid;
    border-radius:5%;
}
#productos img:hover{
    opacity: 1;
}
#tabla table{
    color: beige;
    position: relative;
    margin:0 auto;
}
.bebidas{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    flex-wrap:wrap;
}
.bebidas img{
    opacity: .5;
    border-color: beige;
    border-style: solid;
    border-radius:5%;
}
.bebidas img:hover{
    opacity: 1;
}
.delivery img{
    margin:0 auto;
    padding: 40px;
}
.contacto{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}