*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(14, 12, 12);
    
}

.centrar{
    margin:auto;
    margin-bottom: 0px;
    display:block;
    padding: 3px;
}
h3{
    font-family:'Kanit', sans-serif;
    
}
h2{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: beige ;
    padding: 7px;
}
nav{
    position: relative;
    bottom: 70px;
    left: 500px;
}

.navBackground{
    background: rgb(11,11,11);
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 0%, rgba(208,181,82,1) 100%);
    position: sticky;
    top:0px;
}
.listaNav li {
    font-family:'Kanit', sans-serif;
    display: inline-block;
    padding: 7px;
    margin: 5px;
}
.listaNav a{
    text-decoration: none;
    color: beige;
}
.mainBackground{
    background-color: rgb(14, 12, 12);
}
main p{
    padding:40px;
    color: beige;
}
footer{
    background-color: rgb(43, 41, 41);
    height: auto;
}

footer div{
    text-align: right;
}

